@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    background-color: #f6f6f6;
}

header {
    background-color: #FFF0F6;
    padding: 10px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFF0F6;
    padding: 20px 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 1000;

}

main {
    padding-top: 80px;

}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.logo-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.startButton {
    background-color: #ff007b;
    border-radius: 42px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    padding: 12px 30px;
    text-decoration: none;
}

.startButton:active {
    position: relative;
    top: 1px;
}

.logo {
    width: 300px;
}

.logo-end {
    width: 200px;
    margin-bottom: 20px;
}

.logo-header {
    width: 150px;
}

.coeur-index {
    width: 60px;
}

.content-bottom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.avatar {
    width: 50px;
    border-radius: 10px;
    border: 4px solid transparent;
}

.avatar-conversation {
    width: 40px;
    border-radius: 10px;
    border: 4px solid transparent;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-container-conversation {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-icon {
    color: white;
    background-color: #FF007B;
    padding: 10px 15px;
    border-radius: 30px;
}

.back-icon-conversation {
    color: white;
    background-color: #FF007B;
    padding: 10px 12px;
    border-radius: 30px;
    display: flex;
}

h1 {
    font-weight: bold;
}

.low-text {
    color: gray;
}

.message-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.discussion {
    margin: 20px 20px;
    margin-bottom: 160px;
    display: flex;
    flex-flow: column wrap;
}

.discussion > .bubble {
    border-radius: 1em;
    padding: 0.25em 0.75em;
    margin: 0.0625em;
    margin-top: 20px;
    max-width: 50%;
}

.discussion > .bubble.sender {
    align-self: flex-start;
    background-color: #efefef;
    color: #000000;
}

.discussion > .bubble.recipient {
    align-self: flex-end;
    background-color: #FF007B;
    color: white;
}

.discussion > .bubble.sender.first {
    border-bottom-left-radius: 0.1em;
}

.discussion > .bubble.sender.last {
    border-top-left-radius: 0.1em;
}

.discussion > .bubble.sender.middle {
    border-bottom-left-radius: 0.1em;
    border-top-left-radius: 0.1em;
}

.discussion > .bubble.recipient.first {
    border-bottom-right-radius: 0.1em;
}

.discussion > .bubble.recipient.last {
    border-top-right-radius: 0.1em;
}

.discussion > .bubble.recipient.middle {
    border-bottom-right-radius: 0.1em;
    border-top-right-radius: 0.1em;
}

.choose-conversation {
    background-color: #ff007b;
    border-radius: 10px;
    padding: 5px 20px;
}

.choose-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.photo-banner {
    background-color: #FFF0F6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
}
