@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Afacad", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 500;
  	font-style: normal;
}

.content-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	justify-content: center;
	height: 100vh;
}

.startButton  {
	background-color:#ff007b;
	border-radius:42px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	padding:15px 31px;
	text-decoration:none;
}
.startButton :hover {
	background-color:#e6197c;
}
.startButton :active {
	position:relative;
	top:1px;
}
