@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
	box-sizing: border-box;
	font-family: "Afacad", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 500;
  	font-style: normal;
}

.fa-regular.fa-comments {
    width: 50px;
    color: black;
}

body{
    padding-top: 80px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 5px;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1000; 
}

.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}
#avatar-selected{
    width: 60px;
    border-radius: 8px;
    margin-right: 10px;
}


.card {
    height: 500px;
    width: 350px;
    background-image: url('../images/card.svg');
    background-size: cover;
    border-radius: 30px;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 300px;
    left: 20px;
    gap: 115px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

